ul {
    display: flex;
    flex-direction: row;
    justify-content:flex-end;
    align-items: center;
    list-style: none;
}



a{
    text-decoration: none;
}
.nav-item a  {
    font-weight: 600;
    margin-left: 5px;
    margin-right: 5px;
    background-color: #efd7fad4;
    padding: 15px;
    font-size: 1.6rem;
    color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 8px 8px rgb(0, 0, 0);


}

.nav-item a:hover  {
    background-color: #D8D8BF;
    border-radius: 20px;
    color:  #483d8b;
    transition: ease .5s;
    cursor: pointer;
    box-shadow: 5px 5px rgb(0, 0, 0);
}


.icon {
    margin-bottom: 5px;
    font-size: 35px;
}